<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sdjic">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SDJIC">
        <activity
            android:name=".AlertDialogActivity"
            android:exported="true" />
        <activity
            android:name=".CheckBoxActivity"
            android:exported="true" />
        <activity
            android:name=".ToggleButtonActivity"
            android:exported="true" />
        <activity
            android:name=".CustomToastActivity"
            android:exported="true" />
        <activity
            android:name=".ToastDemoActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>